@page "/AddNewUser"
@using MudBlazor

<MudContainer>
    <MudPaper class="form-container">
        <div class="header">
            <h2 style="color: white;">Add User</h2>
        </div>

        <MudForm OnValidSubmit="@HandleValidSubmit">
            <MudTextField Label="First Name" @bind-Value="firstName" Required="true" />
            <MudTextField Label="Last Name" @bind-Value="lastName" Required="true" />
            <MudTextField Label="Email" @bind-Value="email" Required="true" Type="InputType.Email" />
            <MudTextField Label="Password" @bind-Value="password" Required="true" Type="InputType.Password" />
            <MudButton Type="ButtonType.Submit" Variant="Variant.Filled">Add</MudButton>
        </MudForm>
    </MudPaper>
</MudContainer>

<style>
    .header {
        background-color: #007BFF;
        padding: 10px;
        text-align: center;
    }

    .form-container {
        width: 400px;
        margin: auto;
        margin-top: 70px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>

@code {
    private string firstName;
    private string lastName;
    private string email;
    private string password;

    private void HandleValidSubmit()
    {
        // Perform actions when the form is submitted
        // For now, let's just print the input values to the console
        Console.WriteLine($"Submitted User: {firstName} {lastName}, Email: {email}, Password: {password}");
    }
}
